@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rubik+Gemstones&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');
body{
    background-color:white;
    
}
.full{
    color: black;
    display: block;
    margin: auto;
    margin-top: 7%;
    height: 500px;
    width: 300px;
    background-image: linear-gradient(#e5e5ee, #250454);
    text-align: center;
    box-shadow: 5px 10px 8px #150c0c;
    border-radius: 15px;
    
}
.calc{
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
    
   
}
.container{
    margin-top: 7%;   
}
button{
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    font-size: large;
    box-shadow: 5px 10px 8px #211616;
    border-radius: 10px;


}

